.canvas-sidebar {
  display: flex;
}
.sidebar1 {
  height: calc(100vh - 50px);
  width: 70px;
  background-color: #18191b;
  overflow: scroll;
}
.sidebar1::-webkit-scrollbar {
  display: none;
}
.cs-item {
  padding: 20px 5px;
  color: rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  gap: 5px;
  cursor: pointer;
}
.cs-item i {
  font-size: 22px;
}
.cs-item:hover {
  color: whitesmoke;
}
.cs-item-selected {
  background-color: #252627;
  color: whitesmoke;
}

.sidebar2 {
  height: calc(100vh - 50px);
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.sidebar2-close-btn {
  height: 100px;
  width: 15px;
  top: calc(50% - 50px);
  right: -15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  background-color: #252627;
  z-index: 1;
}
.sidebar2-close-btn-mobile{
  display: none;
}

.sidebar2-inner {
  height: 100%;
  background-color: #252627;
  width: 100%;
}
.sidebar2-title {
  height: 49px;
  border-bottom: solid rgb(100, 100, 100) 1px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  top: 0;
}
.sidebar2-body {
  height: calc(100% - 80px);
  overflow: scroll;
  position: relative;
  padding: 15px;
}
.sidebar2-body::-webkit-scrollbar {
  display: none;
}
.elements-sidebar-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 10px;
}
.elements-sidebar-item {
  width: 100%;
  aspect-ratio: 1;
  border: solid silver 1px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elements-sidebar-item:hover {
  border-color: whitesmoke;
}
.elements-sidebar-element {
  height: 60%;
  width: 60%;
  background-color: whitesmoke;
}
.font-sidebar-item {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.font-sidebar-item:hover {
  background-color: rgb(55, 55, 55);
}
.font-sidebar-item i {
  font-size: small;
}

.images-sidebar-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 10px;
  padding: 15px;
}
.images-sidebar-item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}
.images-sidebar-item img {
  max-width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.images-sidebar-item img:hover {
  filter: brightness(80%);
}

.color-sidebar-body {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 10px;
}
.color-sidebar-item {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.3s;
}
.color-sidebar-item:hover {
  transform: scale(0.9);
}

.position-sidebar-body {
  /* background-color: blue; */
  padding: 0px;
}
.position-sidebar-body-item {
  border-bottom: solid rgb(100, 100, 100) 1px;
  padding: 10px 5px;
  /* background-color: red; */
}
.position-sidebar-mini-title {
  font-size: small;
  color: grey;
  padding: 5px 10px;
}
.position-sidebar-align {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.position-sidebar-align-item {
  /* background-color: red; */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.position-sidebar-align-item:hover {
  background-color: rgb(66, 66, 66);
}

.position-sidebar-advanced {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* background-color: red; */
  padding: 10px;
}
.position-sidebar-advanced-item {
  /* padding: 0px 10px; */
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.position-sidebar-advanced-input {
  width: calc(100% - 24px);
  height: 40px;
  background: none;
  border: solid silver 1px;
  border-radius: 5px;
  color: silver;
  padding: 0px 10px;
}

.notes-letter-count {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: small;
  color: silver;
}

.notes-text-area {
  resize: none;
  height: 90%;
  width: 100%;
  padding: 10px 0px;
  border: none;
  color: silver;
  background: none;
}
.notes-text-area:focus {
  outline: none;
}

.position-align-item-disabled {
  cursor: not-allowed;
  color: silver;
}
.position-advanced-disabled {
  cursor: not-allowed;
  color: silver;
}

.position-advanced-input-disabled {
  border: solid 1px darkgray;
  cursor: not-allowed;
}
.position-advanced-input-disabled::-webkit-outer-spin-button,
.position-advanced-input-disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.position-advanced-input-disabled {
  -moz-appearance: textfield;
}

.position-align-item-disabled:hover {
  background-color: rgb(44, 44, 44);
}

.upload-sidebar-body {
  /* background-color: red; */
  /* padding: 10px; */
}
#upload-file-input {
  display: none;
}
.upload-file-btn {
  display: flex;
  height: 40px;
  cursor: pointer;
  background-color: purple;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 5px;
}
.upload-file-btn:hover {
  background-color: rgb(102, 0, 102);
}
.upload-file-btn:active {
  background-color: purple;
}
.uploads-list-title {
  margin-top: 30px;
  color: silver;
}
.uploads-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px 0px;
}
.uploads-item-img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.uploads-item-img:hover {
  filter: brightness(80%);
}
.projects-sidebar-body {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 10px;
}
.project-sidebar-item {
  text-align: center;
}
.project-sidebar-item-img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-sidebar-item-img img {
  height: 60px;
  border-radius: 3px;
}
.project-sidebar-item-img:hover {
  filter: brightness(80%);
}
.projects-sidebar-body a {
  text-decoration: none;
  color: silver;
}

@media only screen and (max-width: 600px) {
  .canvas-sidebar{
    position: relative;
  }
  .sidebar1 {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }
  .cs-item {
    height: 60px;
    width: 60px;
    padding: 0px;
  }
  .sidebar2 {
    position: absolute;
    left: 0px;
    top: -80vh;
    height: 80vh;
    width: 100vw;
    z-index: 100000000;
    background-color: red;
  }
  .sidebar2-close-btn{
    height: 20px;
    width: 100px;
    top: -20px;
    left: calc(50% - 50px);
    border-radius: 10px 10px 0px 0px;
  }
  .sidebar2-close-btn-desktop{
    display: none;
  }
  .sidebar2-close-btn-mobile{
    display: block;
  }
}
