.dashboard {
  min-height: 100vh;
}
.dashboard-bottom {
  padding-top: 71px;
  display: flex;
}
.dashboard-bottom .sidebar-container {
  height: calc(100vh - 71px);
  width: 300px;
  overflow: scroll;
}
.outlet {
  height: calc(100vh - 71px);
  width: calc(100% - 300px);
  overflow: scroll;
}
.mobile-nav-container{
  height: 49px;
  width: 100%;
  background-color: white;
  border-top: solid silver 1px;
  display: none;
}

@media only screen and (max-width: 650px) {
  .dashboard-bottom{
    flex-direction: column;
  }
  .dashboard-bottom .sidebar-container {
    display: none;
  }
  .outlet {
    height: calc(100vh - 121px);
    width: 100%;
  }
  .mobile-nav-container{
    display: block;
  }
}
