.images-sidebar-body {
  column-count: 2;
  column-gap: 6px;
}
.images-sidebar-item {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.images-sidebar-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.images-sidebar-item:hover img{
    transform: scale(1.1);
}