.navbar {
  height: 70px;
  width: 96vw;
  background-color: white;
  border-bottom: solid silver 1px;
  padding: 0px 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100000000000000;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ########################################################################################################### */
.nav-create-btn {
  background-color: #8b3dff;
  color: white;
  height: 40px;
  padding: 0px 15px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-create-btn:hover {
  background-color: #7d38e4;
}
.nav-create-btn:active {
  background-color: #692ac9;
}
.nav-create-btn i{
  display: none;
  font-size: 20px;
}

@media only screen and (max-width: 400px) {
  .nav-create-text {
    display: none;
  }
  .nav-create-btn {
    padding: 0px;
    width: 40px;
  }
  .nav-create-btn i{
    display: block;
  }
}

.nav-create-dropdown {
  position: absolute;
  background-color: white;
  border: solid whitesmoke 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 19px 0px;
  right: -65px;
  top: 50px;
  width: calc(96vw - 2px);
  max-width: 350px;
  border-radius: 5px;
}
.create-dd-title {
  padding: 10px;
  font-weight: bold;
}
.create-dd-projects-list {
  max-height: 25vh;
  overflow: scroll;
  margin-bottom: 10px;
  border-bottom: solid silver 1px;
}
.create-dd-projects-list:last-of-type {
  border-bottom: solid silver 0px;
}
.create-dd-project {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: small;
}
.create-dd-project:hover {
  background-color: whitesmoke;
}
.create-dd-project:active {
  background-color: rgb(240, 240, 240);
}
.create-dd-project-img{
  height: 20px;
  width: 35px;
  border-radius: 3px;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ########################################################################################################### */
.nav-profile-btn {
  height: 45px;
  width: 45px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  font-size: large;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 126, 182);
}
.nav-profile-btn:active {
  background-color: rgb(20, 167, 230);
}
.nav-profile-dropdown {
  background-color: white;
  position: absolute;
  top: calc(100% + 5px);
  right: 0px;
  border: solid whitesmoke 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 19px 0px;
  border-radius: 5px;
  width: calc(96vw - 2px);
  max-width: 350px;
  z-index: 10000000;
}

.nav-profile-dropdown a {
  text-decoration: none;
}
.profile-dropdown-top {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
  padding: 20px 10px;
  font-weight: 600;
  border-bottom: solid silver 1px;
}
.profile-dropdown-img {
  height: 60px;
  width: 60px;
  background-color: whitesmoke;
  border-radius: 50%;
}
.profile-dropdown-bottom {
  padding: 10px 0px;
}
.profile-dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-dropdown-item:hover {
  background-color: whitesmoke;
}
.profile-dropdown-item:active {
  background-color: rgb(240, 240, 240);
}
