.canvas-body {
  height: calc(100% - 200px);
  width: calc(100% - 100px);
  /* max-width: calc(700px); */
  padding: 50px 50px;
  overflow: scroll;
  display: grid;
  place-items: center;
  background-color: #ebecf0;
}
.canvas-outer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.canvas {
  position: relative;
  transform-origin: 0 0;
}

.textbox-component-input {
  text-align: center;
}
.textbox-component-input:focus {
  outline: none;
}
