.canvas-body-outer {
  height: calc(100% - 140px);
  padding: 20px;
  background-color: #ebecf0;
  display: grid;
  place-items: center;
  overflow: scroll;
}

.canvas-body {
  padding: 0px;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
}

.canvas-page {
  background-color: white;
}

.selected_component {
  outline: solid orangered 3px;
}

.textbox-component-input {
  background: none;
  border: none;
  width: 200px;
  cursor: move;
}
.textbox-component-input:focus {
  outline: none;
}

.shape-component:hover,
.image-component:hover,
.text-box-component:hover {
  outline: solid orangered 3px;
}
.shape-component{
  transform-origin: top left;
}