.auth-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: relative;
  background-color: #f0f0f0;
}
.auth-box {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 350px;
}
.auth-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}
.auth-box form input {
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  border: solid black 1px;
  font-size: large;
}
.auth-box form input:focus {
  outline: none;
}
.auth-box form input[type="submit"] {
  background-color: #213555;
  color: white;
  cursor: pointer;
}
.auth-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.auth-box .forgot-password-btn,
.auth-box .registered-btn {
  font-size: small;
  margin-top: 5px;
  cursor: pointer;
}
.auth-box .forgot-password-btn:hover,
.auth-box .registered-btn:hover {
  font-size: small;
  margin-top: 5px;
  cursor: pointer;
  color: #4f709c;
}
.auth-box-divider {
  border: solid silver 1px;
  width: 100%;
  margin: 20px 0px;
  position: relative;
}
.auth-box-divider div {
  position: absolute;
  background-color: white;
  height: 30px;
  width: 50px;
  line-height: 30px;
  text-align: center;
  top: -15px;
  left: calc(50% - 25px);
}
.google-signup-btn {
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
.google-signup-btn:hover {
  background-color: #213555;
  color: white;
}

.auth-load-btn {
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  border: solid black 1px;
  background-color: #213555;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
