.canvas-header {
  height: 49px;
  border-bottom: solid silver 1px;
}
.canvas-header-inner{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left-menu{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
}
.header-right-menu{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 30px 0px 10px;
}
.header-right-menu .header-btn{
  height: 35px;
  width: 35px;
  font-size: larger;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}